@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

/*----------GENERAL---------*/
.gridContainer {
  font-family: 'mohave', sans-serif;
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer"; }

.whatsapp {
  position: fixed;
  z-index: 2;
  top: 85%;
  left: 90%;
  width: 75px; }

/*------------HEADER----------*/
.header {
  grid-area: "header"; }
  .header a img {
    grid-area: "header";
    width: 200px; }

/*----aqui aplico un mixin-----*/
.parametros {
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #92a794;
  display: flex;
  justify-content: center;
  align-items: center; }

/*---------NAV---------*/
.navbar {
  transition: all 1s; }
  .navbar li:hover {
    background-color: #dac491; }

.main {
  grid-area: "main"; }
  .main h1 {
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 45px;
    margin-left: 100px;
    margin-right: 100px; }
  .main h2 {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px; }
  .main section p {
    display: flex;
    text-align: justify;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 25px; }

/*-------aquí aplico un map---------*/
.main h1 {
  color: #918154; }

.main h2 {
  color: #dac491; }

.main p {
  color: #92a794; }

.detalle {
  display: grid;
  grid-template-columns: 300px;
  grid-row-gap: 20px;
  justify-content: center;
  margin-top: 100px;
  animation-duration: 5s;
  animation-name: aparecer;
  animation-iteration-count: infinite; }
  .detalle Img {
    width: 100%; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 2; } }

/*------------------especificaciones por HTML----------------------*/
/*----FLORES SECAS----*/
.imagen-fondo {
  background-image: url(../imagenes/fondo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 10rem; }

/*----PRODUCTO----*/
.textCard {
  color: #918154; }

.card {
  transition: all 1s; }

.card:hover {
  transform: scale(1.2); }

/*----CONTACTO----*/
.formulario {
  margin-left: 500px;
  margin-right: 500px; }

/*---------FOOTER---------*/
.fijar {
  bottom: 0; }

.footer {
  background-image: linear-gradient(to bottom, #92a794, #3b5249);
  grid-area: "footer";
  margin-top: 100px;
  padding: 30px;
  color: white;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-between;
  justify-items: center;
  transition: all 1s; }
  .footer div ul {
    list-style-type: none; }
    .footer div ul :hover {
      text-decoration: underline; }
  .footer a {
    text-decoration: none;
    color: white;
    font-size: 15px; }
  .footer h3 {
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px; }

.boton, .boton-primario {
  border: solid 1px #92a794; }

.boton-primario {
  color: #918154;
  margin: 5px; }

/*-------------------------------media queries---------------------------*/
@media screen and (max-width: 768px) {
  .logo {
    width: 350px; }
  .main h1 {
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 15px; }
  .main h2 {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 15px; }
  .main section p {
    margin: 80px;
    font-size: 35px; }
  .detalle {
    display: grid;
    grid-template-columns: 400px;
    grid-row-gap: 25px; }
  .detalle h2 {
    font-size: 45px;
    margin-top: 20px; }
  .whatsapp {
    position: fixed;
    z-index: 2;
    top: 80%;
    left: 85%;
    width: 8%; }
  .footer {
    grid-template-columns: 600px 600px;
    justify-content: space-between;
    justify-items: center;
    align-content: space-between;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px; }
  .footer ul {
    text-align: center; }
  .footer a {
    font-size: 20px; }
  .footer h2 {
    font-size: 20px; }
  .pie {
    font-size: 20px; }
  /*---html contacto---*/
  .formulario {
    font-size: 20px; } }

@media screen and (max-width: 425px) {
  .logo {
    width: 200px; }
  .main h1 {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 5px; }
  .main h2 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px; }
  .main section p {
    margin: 25px;
    font-size: 15px; }
  .detalle {
    display: grid;
    grid-template-columns: 300px;
    grid-row-gap: 25px;
    margin-top: 50px; }
  .detalle h2 {
    font-size: 30px;
    margin-top: 10px; }
  .whatsapp {
    position: fixed;
    z-index: 2;
    top: 90%;
    left: 80%;
    width: 15%; }
  .footer {
    grid-template-columns: 300px;
    grid-row-gap: 30px;
    justify-content: center;
    justify-items: center;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px; }
  .footer ul {
    text-align: center;
    font-size: 15px;
    padding: 0; }
  .footer a {
    font-size: 15px; }
  .footer h2 {
    font-size: 15px; }
  .footer form {
    font-size: 15px; }
  .pie {
    font-size: 15px; }
  /*---html contacto---*/
  .formulario {
    font-size: 15px; } }
