@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

/*----------GENERAL---------*/
.gridContainer {
  font-family: 'mohave', sans-serif;
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer"; }

.whatsapp {
  position: fixed;
  z-index: 2;
  top: 85%;
  left: 90%;
  width: 75px; }

/*------------HEADER----------*/
.header {
  grid-area: "header"; }
  .header a img {
    grid-area: "header";
    width: 200px; }

/*----aqui aplico un mixin-----*/
.parametros {
  padding-top: 10px;
  padding-bottom: 15px;
  background-color: #92a794;
  display: flex;
  justify-content: center;
  align-items: center; }

/*---------NAV---------*/
.navbar {
  transition: all 1s; }
  .navbar li:hover {
    background-color: #dac491; }

.main {
  grid-area: "main"; }
  .main h1 {
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 100px;
    margin-right: 100px; }
  .main h2 {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px; }

/*-------aquí aplico un map---------*/
.main h1 {
  color: #918154; }

.main h2 {
  color: #dac491; }

.main p {
  color: #3b5249; }

.principal {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 20px;
  text-align: justify; }
  .principal p {
    padding-bottom: 10px;
    padding-left: 50px; }

.detalle {
  width: 40%;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 50px; }

/*------------------especificaciones por HTML----------------------*/
/*----FLORES SECAS----*/
.principal-fs {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: justify; }

/*---aqui aplico un mixin----*/
.imagen-fondo {
  background-image: url(../imagenes/fondo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 15rem; }

.imagen-fondo-dos {
  background-image: url(../imagenes/fondoDos.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 15rem; }

/*----PRODUCTO----*/
.textCard {
  color: #918154; }

.card {
  transition: all 1s; }

.card:hover {
  transform: scale(1.1); }

.tocados {
  width: 30%;
  margin-left: 450px;
  margin-top: 130px;
  margin-bottom: 100px; }

/*----CONTACTO----*/
.formulario {
  margin-left: 500px;
  margin-right: 500px; }

/*---------FOOTER---------*/
.fijar {
  bottom: 0; }

.footer {
  background-image: linear-gradient(to bottom, #92a794, #3b5249);
  grid-area: "footer";
  padding: 30px;
  color: white;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: space-between;
  justify-items: center;
  transition: all 1s; }
  .footer div ul {
    padding-left: 0;
    list-style-type: none; }
    .footer div ul :hover {
      text-decoration: underline; }
  .footer a {
    text-decoration: none;
    color: white;
    font-size: 15px; }
  .footer h3 {
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px; }

.icon {
  width: 30px;
  padding-right: 10px; }

.boton, .boton-primario {
  border: solid 1px #92a794; }

.boton-primario {
  color: #918154;
  margin: 5px; }

/*-------------------------------media queries---------------------------*/
@media screen and (max-width: 768px) {
  .logo {
    width: 350px; }
  .main h1 {
    font-size: 50px;
    margin-top: 80px;
    margin-bottom: 15px; }
  .main h2 {
    font-size: 40px; }
  .principal {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
    text-align: justify; }
    .principal p {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
      margin-right: 30px; }
  .detalle {
    width: 40%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .whatsapp {
    position: fixed;
    z-index: 2;
    top: 85%;
    left: 85%;
    width: 8%; }
  .footer {
    grid-template-columns: 600px 600px;
    justify-items: center;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px; }
    .footer ul {
      text-align: left; }
    .footer a {
      font-size: 25px; }
    .footer h3 {
      font-size: 25px; }
  /*----html flores secas---*/
  .principal-fs {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
    text-align: justify; }
    .principal-fs p {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 30px;
      margin-right: 30px; }
  /*----html productos----*/
  .card:hover {
    pointer-events: none; }
  /*-----html tocados-----*/
  .tocados {
    margin-left: 410px;
    margin-top: 100px; }
  /*---html contacto---*/
  .formulario {
    margin-left: 400px;
    margin-right: 400px; } }

@media screen and (max-width: 425px) {
  .logo {
    width: 200px; }
  .main h1 {
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 25px; }
  .main h2 {
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 15px; }
  .principal {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px; }
    .principal p {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      margin-right: 20px; }
  .detalle {
    display: none; }
  .whatsapp {
    position: fixed;
    z-index: 2;
    top: 85%;
    left: 80%;
    width: 15%; }
  .footer {
    grid-template-columns: 300px;
    grid-row-gap: 30px;
    justify-content: center;
    justify-items: center;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px; }
    .footer ul {
      text-align: center;
      font-size: 15px;
      padding: 0; }
    .footer a {
      font-size: 15px; }
    .footer h3 {
      font-size: 15px; }
    .footer form {
      font-size: 15px; }
  .pie {
    font-size: 15px; }
  /*----html flores secas---*/
  .principal-fs {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 20px; }
    .principal-fs p {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 15px;
      margin-right: 20px; }
  /*---htmls productos---*/
  .card {
    margin-bottom: 25px; }
  /*---html tocados---*/
  .tocados {
    display: none; }
  /*---html contacto---*/
  .formulario {
    margin-left: 15px;
    margin-right: 15px; } }
