.main{
    grid-area: "main";
    h1 {
        font-size: 35px;
        font-weight: bold;
        display:flex;
        justify-content:center;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 100px;
        margin-right: 100px;
    }
    h2{
        font-size: 30px;
        font-weight: bold;
        display:flex;
        justify-content:center;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    section {
        p{
        margin-bottom: 20px;
        font-size: 25px;
        }
    }
}

/*-------aquí aplico un map---------*/
$colorFuente: (
    h1:#918154,
    h2:#dac491,
    p:#92a794
);

@each $texto, $color in $colorFuente {
    .main #{$texto}{
        color: $color;
    }
}

.principal{
    grid-area: "main";
    grid-template-columns:300px 300px
;
}

    }
}
 
/*------------------especificaciones por HTML----------------------*/

/*----FLORES SECAS----*/

@mixin fondo{
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 15rem;
}
.imagen-fondo{
    background-image: url(../imagenes/fondo.png);
    @include fondo;
}
.imagen-fondo-dos{
    background-image:url(../imagenes/fondoDos.png);
    @include fondo;
}

/*----PRODUCTO----*/
.textCard{
    color: $text-color-secondary;
    }
.card{
    transition: all 1s;
}
.card:hover{
    transform: scale(1.2);
}
/*----CONTACTO----*/
.formulario{
    margin-left: 500px;
    margin-right: 500px;
}